@import 'settings';
@import 'common/layout';
@import 'common/typography';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
  background-color: black;
}


@media (max-width: 414px) {
  .app {
    height: 310vh;
  }
}

@media (max-width: 375px) {
  .app {
    height: 340vh;
  }
}

@media (max-width: 360px) {
  .app {
    height: 360vh;
  }
}

@media (max-width: 320px) {
  .app {
    height: 410vh;
  }
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
