.row-container {
  padding-top: 20px;
  height: 100vh;
}

.img-width {
  width: 100%;
}

.signup-container {
  padding-top: 50px;
}

input,
button {
  margin: 20px auto;
  display: block;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
}

button {
  background: grey;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #444343;
}

.three-steps {
  padding: 80px 40px 40px 40px;
  color: white;
  height: 100vh;
}

.step-icon {
  width: 140px;
  padding-bottom: 20px;
}

.bottom-signup {
  position: relative;
}

.bottom-signup input,
.bottom-signup button {
  width: 50%;
}

.snow{
  background: none;
  background-image: url('/imgs/snow1.png'), url('/imgs/snow2.png'), url('/imgs/snow3.png');
  height: 200vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

.hand {
  cursor: pointer;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@media (max-width: 718px) {
  .signup-container {
    padding-top: 0px;
  }

  input,
  button,
  .bottom-signup input,
  .bottom-signup button {
    width: 100%;
  }

  .hand {
    display: none;
  }
}

@media (max-width: 414px) {
  .snow {
    height: 310vh;
  }
}

/* iphone 6 */
@media (max-width: 375px) {
  .snow {
    height: 340vh;
  }

  .three-steps {
    padding-top: 220px;
  }
}

@media (max-width: 360px) {
  .snow {
    height: 360vh;
  }
}

/* iphone 5 */
@media (max-width: 320px) {
  .snow {
    height: 410vh;
  }

  .three-steps {
    padding-top: 200px;
  }
}